#input1 {
    background-color: black;
    color:white;
    text-align:right;
    height: 30px;
}

input {
    width:50px;
}

#input1 {
    width: 210px;
}

.wide-button {
    width: 105px;
}

.ac {
    background-color: lightpink;
}

.equal {
    background-color: lightgreen;
}